:root{
	--background-transparente: rgba(0,97,108,0.6);
	--transparentPattern: rgba(0,97,108,0.9);
	--pattern: rgba(0,97,108,1);
	--light-pattern: rgb(51,147,160);
	--light_more_pattern: rgb(76, 201, 218);
	--white: #fff;
	--black: rgb(51,51,51);
	--light-black: rgb(170, 170, 170);
	--green: rgb(102,197,77);
	--yellow: rgb(221,160,0);
	--red: rgb(212,0,23);
	--pink: rgba(177,0,212);
	--light-blue: rgb(29,219,240);
	--orange: rgb(202, 121, 0);
}
@font-face{
	font-family: pattern;
	src: url("../fonts/Arial.ttf");
}
*{
	display: block;
	margin: 0;
	padding: 0;
	font-family: pattern, Helvetica, sans-serif;
	box-sizing: border-box;
	color: var(--black);
	text-transform: uppercase;
}
head, script{
	display: none;
}
body{
	border: none;
	font-size: 14px;
	overflow-x: hidden;
}
ul li{list-style: none;}
a{text-decoration: none;}
figure{
	margin: 0px;
	padding: 0px;
}
input, select{
	border-radius: 0.2em;
	display: block;
	padding: 10px;
	font-size: 14px;
	outline: none;
	background: var(--white);
	color: var(--preto);
	border: 1px solid var(--light-black);
	transition: border .3s ease-in-out;
}
input:focus, select:focus{
	border: 1px solid var(--pattern);
}
label{color: var(--pattern)};
button{
	border-radius: 0.2em;
	display: block;
	min-width: 100px;
	padding: 10px;
	font-size: 1em;
	outline: none;
	color: var(--preto);
	border: none;
	cursor: pointer;
}
.box-control{
	width: 100vw;
	min-height: 70vh;
	height: auto;
	padding-top: 90px; 
}
.box-control-header{
	width: 90vw;
	min-width: 1260px;
	display: flex;
	flex-wrap: nowrap;
	padding: 3px 5px;
	margin: auto;
	margin-bottom: 20px;
}
.box-control-header .title{ width: 85%; }
.box-control-header .title span{ color: var(--pattern)}
.box-control-header .title span:nth-child(1){ font-size: 12px;}
.box-control-header .title span:nth-child(2){ font-size: 25px;}

.registration{
	width: 15%;
	height: 100%;
}
.btnPattern{
	width: 100%;
	min-width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid var(--pattern);
	border-radius: 5px;
	color: var(--pattern);
	margin:auto;
	font-size: 14px;
}
.box-control-body{
	width: 90vw;
	min-width: 1260px;
	min-height: 200px;
	height: auto;
	padding: 0px 10px;
	margin: auto;
}
.box-control-body .filter{
	display: flex;
	height: 35px;
	margin-bottom: 30px;
}
.box-control-body .filter .checkbox-filter{
	display: flex;
	align-items: center;
	margin-left: 10px;
}
.box-control-body .filter .checkbox-filter *{cursor: pointer}
.filter .checkbox-filter input{
	margin: 0px 10px;
	height: 40px;
}
.box-control-body .total_results{
	height: 35px;
	line-height: 35px;
	margin-top: 30px;
}
.box-control-body .filter .submit{margin: 0; margin-left: 20px;}
.box-control-body .titleTableBody{
	width: 100%;
	height: auto;
	display: flex;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid var(--light-black);
	font-weight: bold;
}
.box-control-body .TableBody{
	width: 100%;
	height: auto;
	display: flex;
	margin-bottom: 3px;
}
.box-control-body .TableBody div{
	transition: .15s ease-in-out;
}
.box-control-body .TableBody:hover div{
	color: var(--light-pattern);
}
.box-control-body .titleTableBody div, .box-control-body .TableBody div{text-align: left;}
.box-control-body .titleTableBody .align-center, .box-control-body .TableBody .align-center{text-align: center;}
#acao{
	display:flex;
	flex-wrap: nowrap;
}
#acao img{
	height: 20px;
	cursor: pointer;
	margin: auto;
}
.tam5{width: 5%;}
.tam7{width: 7%;}
.tam10{width: 10%;}
.tam20{width: 20%;}
.tam25{width: 25%;}
.tam30{width: 30%;}
.tam40{width: 40%;}
.tam50{width: 50%;}
.tam60{width: 60%;}
.tam70{width: 70%;}
.tam80{width: 80%;}
.tam90{width: 90%;}
.tam100{width: 100%;}


.form-pattern{
	font-size: 1.1em;
}
.fieldControl{
	width: 70%;
	margin: auto;
	margin-bottom: 15px;
	display: flex;
	padding: 0px;
	overflow: hidden;
}
.fieldForm:nth-child(2){
	margin-left: 2px;
}
.fieldForm label{padding: 5px 0px; display: flex;}
.fieldForm label span{color: var(--red)}
.fieldForm input, .fieldForm select{width: 100%; height: 40px;}
.locatityCalendar{
	width: 70%;
	height: auto;
	margin:auto;
	margin-top: 30px;
}
.titleLocalityCalendar{
	width: 100%;
	padding: 5px;
	color: var(--pattern);
}
.btnLocalityCalendar{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.choiseLocality{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 2;
	height: 300px;
	border: 1px solid var(--light-black);
	border-radius: 5px;
	text-align: center;
	color: var(--pattern);
	overflow: hidden;
	margin: 5px;
	cursor: pointer;
	filter: contrast(15%);
	transition: .3s ease-in-out;
}
.locatityCalendar div img{
	margin: auto;
	margin-top: 20px;
	transition: transform .3s ease-in-out;
}
.locatityCalendar div span{
	font-size: 1.1em;
	color: var(--pattern);
	margin-top: 10px;
	transform: translateY(0);
	transition: transform .3s ease-in-out;
	margin-bottom: 20px;
}
.locatityCalendar div:hover img{transform: scale(1.1);}
.locatityCalendar div:hover span{transform: translateY(15px);}

.locatityCalendarMoviment{
	filter: contrast(100%);
	transform: scale(1.04);
	border: 2px solid var(--pattern);
}
.submit{
	width: auto;
	min-width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border: 1px solid var(--pattern);
	border-radius: 3px;
	cursor: pointer;
	background: var(--white);
	color: var(--pattern);
	margin: 10px auto 10px auto;
	transition: .2s ease-in-out;
}
.submit:hover{
	background: var(--pattern);
	color: var(--white)
}
.control-fill{
	flex-wrap: nowrap;
	min-height: 500px;
}
.fill-header,.fill-right{
	padding: 5px;
	border-radius: 2px;
}
.fill-header{
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid var(--light-black);
}
.fill-header div{margin: auto;}
.fill-header span{
	margin: 5px 0;
    font-size: 1.4em;
	color: var(--pattern);
	text-transform: capitalize;
}
.inputs-fill-left label{margin: 5px 0;}
.fill-body{
    display: flex;
	flex-wrap: wrap;
}
.month{
	width: 31%;
    min-width: 350px;
    height: auto;
    margin: auto;
	margin: 12px;
	padding: 5px;
	border: 1px solid var(--light-black);
	border-radius: 5px;
}
.title-month{
	text-align: center;
	padding: 10px 0px;
	text-transform: uppercase;
}
.days{
	height: auto;
	border-bottom: 1px solid var(--light-black);
	border-top: 1px solid var(--light-black);
}
.semana{display: flex;}
.title-semana{font-weight: bold;}
.title-semana .day{border: none;}
.day{
	width: 15%;
	max-width: 52px;
	height: 35px;
	margin: 1px;
    text-align: center;
	align-items: baseline;
	line-height: 35px;
	position: relative;
}
.month_information{
	display: flex;
	flex-wrap: nowrap;
	height: 30px;
	line-height: 30px;
}
.month_information div {font-size: 0.95em; height: 100%;}
.month_information div span{display: inline; font-size: 0.95em;}
.month_information div[bimestre]{
	display: flex;
}
.month_information div[bimestre] span{
	display: block;
	background: var(--pattern);
	color: var(--white);
	margin: auto 3px;
	padding: 0 5px;
	height: 90%;
	border-radius: 3px;
}
.choise-event-day{
	width: 300px;
	height: auto;
	min-height: 50px;
	background: var(--white);
	border-radius: 3px;
	border: 1px solid var(--pattern);
	padding: 5px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9996;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
	cursor: default;
}
.moviment-choise-event-day-left{transform: translateX(-20%);}
.moviment-choise-event-day-right{transform: translateX(-85%);}
.shapener-choise-day{
	position: absolute;
	top: -13px;
	left: 50%;
	transform: translateX(-50%)
}
.shapener-choise-day-left{
	left: 15%;
	transform: translateX(-15%);
}
.shapener-choise-day-right{
	left: 90%;
	transform: translateX(-90%);
}
.btnEventChoiseDay{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	padding: 5px 0px;
	margin: auto;
	margin-bottom: 10px;
	border-width: 1px;
	border-style: solid;
	border-radius: 50%;
	cursor: pointer;
	font-size: 18px;
	transition: .3s ease-in-out;
}
.newEventChoiseDay{
	background: var(--white);
	color: var(--pattern);
	border-color: var(--pattern);
	outline: none;
}
.newEventChoiseDay:hover{
	background: var(--pattern);
	color: var(--white);
}

.closeEventChoiseDay{
	background: var(--red);
	color: var(--white);
	border-color: var(--red);
	position: absolute;
	right: -10px;
	top: -10px;
}

#letivo{background: var(--yellow);}
#feriado{
	background: var(--red);
	color: var(--white);
}
#facultativo{background: var(--light-blue)}
#recesso_escolar{
	background: var(--pattern);
	color: var(--white);
}
#semana_pedagogica{
	background: var(--pink);
	color: var(--white)
}
#ferias{background: var(--green)}
#atribuicao{
	background: var(--black);
	color: var(--white)
}
#inicio_bimestre{
	background: var(--white);
	border: 1px solid var(--orange);
	color: var(--yellow);
}
#termino_bimestre{
	background: var(--white);
	border: 1px solid var(--pattern);
	color: var(--pattern);
}
#sabado_domingo{
	background: var(--light-black);
}
.chosieDay_content{
	text-transform: uppercase;	
}
.chosieDay_content_mov{
	display: none;
}
.addEvent{
	height: 0;
	overflow: hidden;
	transition: .3s ease-in-out;
}
.addEvent div{
	text-transform: uppercase;
	margin: 5px 0px;
	cursor: pointer;
}
.addEvent_mov{
	height: auto;
	overflow: visible;
}
footer{
	width: 100%;
	padding: 10px 0;
	min-height: 120px;
	height: auto;
	background: var(--black);
	color: var(--white);
	margin-top: 60px;
	box-sizing: border-box;
	transition: background 3s ease-in-out;
}
.footerColor{
	background: rgb(105,0,154);
}
.developer{
	text-align:center;
	width: 150px;
	height: 150px;
	cursor: pointer;
	margin: auto;
}
.developer span{
	color: var(--white);
	font-size: 10px;
}
.developer img{
	margin: auto;
	height: 100%;
}
.about{
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	height: 400px;
}
.about_image, .about_text{
	height: 100%;
	margin: 0px 10px;
}
.about_image{
	background: url('../assets/large_facada.jpeg');
	background-size: 100% 100%;
	border-radius: 9px;
}
.about_text *{
	color: var(--black);
}

.about_text h2{
	margin-bottom: 10px;
}
.about_text div{margin: 30px 0;}
.about_text h3{
	color: var(--pattern)
}
.about_text span{
	margin: 5px 0px;
}
.small{
	text-transform: none;
}

.erro{
	width: 300px;
	height: auto;
	background: rgb(109, 9, 9);
	color: #fff;
	position: absolute;
	top: 40px;
	right: 20px;
	z-index: 9999;
	padding: 15px;
	border-radius: 5px;
	opacity: 0;
	animation: closeMessage 3s ease-in-out;
}

@keyframes closeMessage{
	0%{
		opacity: 0;
		top: 40px;
	}
	10%{
		opacity: 1;
		top: 60px;
	}
	90%{
		opacity: 1;
		top: 60px;
	}
	100%{
		opacity: 0;
		top: 40px;
	}
}
.btn_withdraw{
	outline: none;
	border: 1px solid var(--pattern);
	border-radius: 2px;
	background: var(--white);
	color: var(--pattern);
	width: 95%;
	padding: 1.2px 0px;
	cursor: pointer;
}
.withdraw_selected{
	border-color: var(--red);
	background: var(--red);
	color: var(--white);
}
.withdrawal{
	border-color: var(--light-black);
	background: var(--light-black);
	color: var(--black);
}

.box_withdraw{
	width: 400px;
	height: auto;
	position:fixed;
	bottom: -30%;
	right: 10px;
	background: var(--pattern);
	border-radius: 5px;
	box-shadow: 1px 1px 10px var(--light-black);
	cursor: pointer;
	overflow: hidden;
}
.show_box_withdraw{
	animation: anime_box_withdraw 0.5s ease-in-out forwards;
}
@keyframes anime_box_withdraw{
	0%{
		opacity: 0;
		bottom: -30%;
	}
	100%{
		opacity: 1;
		bottom: 10px;
	}
}
.reverse_show_box_withdraw{
	animation: reverse_anime_box_withdraw 0.5s ease-in-out forwards;
}
@keyframes reverse_anime_box_withdraw{
	0%{
		opacity: 1;
		bottom: 10px;
	}
	100%{
		opacity: 0;
		bottom: -30%;
	}
}
#withdraw{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	height: 50px;
	padding-left: 10px;
	color: var(--white);
	text-align: center;
	border-bottom: 1px solid var(--light-pattern)
}
#withdraw span{
	width: 50px;
	margin-left: 10px;
	color: var(--yellow);
}
.form_withdraw{
	display: none;
	width: 100%;
	padding: 10px;
}
.anime_form_withdraw{
	display: block
}
.form_withdraw form label{
	margin: 15px 0px 10px 0px;
	color: var(--white)
}
.form_withdraw form input, .form_withdraw form select{
	width: 100%;
	margin: 5px 0;
	outline: none;
	border: none;
	color: var(--pattern)
}
.buttons_withdraw{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.form_withdraw form .submit:nth-child(1){
	border-color: var(--white);
	background: none;
	color: var(--white);
}
.form_withdraw form .submit:nth-child(1):hover{
	border-color: var(--yellow);
	background: var(--yellow);
	color: var(--white);
}
.form_withdraw form .close_withdraw{
	border-color: var(--red);
	background: var(--red);
	color: var(--white);
}
.destination_city{display: none;}
.anime_destination_city{
	display: block;
}