.box-login{
	width: 100vw;
	height: auto;
	min-height: 100vh;
	position: absolute;
	z-index: 9999;
	background: var(--pattern);
	align-items: center;
}
.box-control-login{
	width: 400px;
	height: auto;
	min-height: 200px;
	margin: auto;
	margin-top: 80px;
}
.box-control-login *{
	margin:auto;
}
.box-control-login figure{margin-bottom: 50px;}
.box-control-login .box_field{
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	background: #fff;
	margin-bottom: 21px;
	position: relative;
}
.box-control-login .box_field label{
	flex-wrap: nowrap;
	height: 50px;
	line-height: 50px;
	background: var(--light-pattern);
	color: var(--white);
	text-align: center;
	cursor: pointer;
}
.box-control-login .box_field input{
	border: none;
	width: 90%;
}
.submit{
	background: none;
	border: 1px solid var(--light-blue);
	color: var(--light-blue);
	outline: none;
}
.registration-section{
	overflow-y: hidden;
	height: 0px;
	opacity: 0;
	transform: translateX(60px);
	transition: .3s ease-in-out;
}
.registration-section-mov{
	animation: registrationMov .3s ease-in-out forwards;
}
#password-btn-visible{
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	transition: .5s ease-in-out;
}
.movimentPassword{
	animation: movimentImgPassword 0.2s ease-in-out;
}

@keyframes movimentImgPassword{
	0%{
		top: 50%;
	}
	50%{
		top: 40%;
	}
	100%{
		top: 50%;
	}
}
@keyframes registrationMov{
	0%{
		opacity: 0;
		overflow-y: hidden;
	}
	50%{
		height: auto;
		overflow-y: visible;
	}
	70%{
		opacity: 1;
		transform: translateX(0);
	}
	100%{
		height: auto;
		opacity: 1;
		transform: translateX(0);
	}
}
.registration{
	min-width: 150px;
	height: 30px;
	line-height: 30px;
	color: var(--white);
	text-align: center;
	margin: auto;
	margin-top: 20px;
}