.background{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 9998;
	background: url('../assets/large_facada.jpeg') no-repeat;
	background-size: 100%;
	filter:blur(10px);
}
@media(max-width: 1000px){
	.background{
		background-size: 200%;
		background-position: center;
	}
}
.box-login{
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 9999;
	background: var(--background-transparente);
}
.box-control-login{
	width: 500px;
	height: auto;
	min-height: 200px;
	margin: auto;
	margin-top: 80px;
}
.box-control-login *{
	margin:auto;
}
.box-control-login figure{margin-bottom: 50px;}
.box-control-login .box_field{
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	background: #fff;
	margin-bottom: 21px;
}
.box-control-login .box_field label{
	height: 50px;
	background:var(--light-pattern);
}
.box-control-login .box_field input{
	border: none;
	width: 90%;
}
.submit{
	background: none;
	border: 1px solid var(--light-blue);
	color: var(--light-blue);
}